@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h1>Stylist Details</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        Stylist Name
      </th>
      <th>
        Specialty
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        @Html.DisplayFor(model => model.StylistName)
      </td>
      <td>
        @Html.DisplayFor(model => model.StylistSpecialty)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StylistId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.StylistId })
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>
        Assigned clients
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var client in Model.Clients) {
      <tr>
        <td>
          @Html.ActionLink(client.ClientName, "Details", "Clients", new { id = client.ClientId })
        </td>
      </tr>
    }
  </tbody>
</table>