@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Edit</h1>
<h3>Editing: @Html.DisplayFor(model => model.StylistName)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.StylistName)
    @Html.EditorFor(model => model.StylistName)

    @Html.LabelFor(model => model.StylistSpecialty)
    @Html.EditorFor(model => model.StylistSpecialty)

    <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to list of stylists", "Index")</p>