@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Edit</h1>
<p>Editing: @Html.DisplayFor(model => model.StylistName)</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.StylistName)
    @Html.EditorFor(model => model.StylistName)

    @Html.LabelFor(model => model.StylistSpecialty)
    @Html.EditorFor(model => model.StylistSpecialty)

    <input type="submit" value="Save" />
}