@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h1>Stylist List</h1>
<p>@Html.ActionLink("Add a Stylist!", "Create")</p>

<table class="table">
  <thead>
    <tr>
      <th>
        Stylist Name
      </th>
      <th>
        Specialty
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var stylist in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelStylist => stylist.StylistName)
        </td>
        <td>
          @Html.DisplayFor(modelStylist => stylist.StylistSpecialty)
        </td>
        <td>
          @Html.ActionLink("Details", "Details", new { id = stylist.StylistId }) |
          @Html.ActionLink("Edit", "Edit", new { id = stylist.StylistId }) |
          @Html.ActionLink("Delete", "Delete", new { id = stylist.StylistId })
        </td>
      </tr>
    }
  </tbody>
</table>