@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using HairSalon.Models;
@model HairSalon.Models.Client;
@{
  List<object> stylists = new List<object>(@ViewBag.Stylists);
}

@if (stylists.Count == 0)
{
  <p>No stylists have been added yet! Since each client must be assigned to a stylist please add a stylist first.</p>
  <p>@Html.ActionLink("Add a Stylist!", "Create", "Stylists")</p>
} 
@if (stylists.Count > 0)
{
  <h1>Add a new Client!</h1>
  <p>Fill out this form to add a new client. All clients must be assigned to a stylist.</p>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.ClientName)
    @Html.TextBoxFor(model => model.ClientName)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add new Client"/>
  }
}
<p>@Html.ActionLink("Show all Clients", "Index")</p>